body
{ 

    margin: 0px;
    padding: 0px;
    background: url("/img/wheat_1.jpg") no-repeat;
    font-family: sans-serif;
    background-size: cover ;
    background-position: center;
}
#signup
{
 
    outline: none;
    height: 600px;
    width: 700px;
    border: none;
    bottom: 50%;
    left: 50%; 
    position: fixed;
    transform : translate(-50%,30%);
    text-align: center;
    box-sizing: border-box;  
   
    outline: none;
    background: transparent;
    background: white;

}
#signup h1
{
    outline: none;
    background: transparent;
}
#lbl
{
    padding: 10px;
    font-family: sans-serif;
    color: rgb(12,3,123,0.9);
}
#signup input
{
    margin-bottom: 10px; 
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    background: transparent;

}
#signup input[type="Submit"]
{
    width: 40%;
    font-weight: bold;
    border: 1px solid gray;
    padding: 20px;
}
*
{
    box-sizing: border-box;
    font-family: sans-serif;
}
#head
{
    background-color: white;
    padding: 20px 10px;
    border-bottom: 2px solid black;
}
#head a
{
    float: left;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    line-height: 25px;
}
#head h1
{
    font-size: 25px;
}
#right
{
    float: right;
    top: 0%;
    position: relative;
}
#head a:hover
{
    background: brown;
    border-radius: 10%;
    color: white;
}
#head a:active
{
    background:darkcyan ;
    border-radius: 1%;
    color: white;
}
#signup input[type="Submit"]:hover
{
    width: 40%;
    font-weight: bold;
    border: 1px solid gray;
    padding: 20px;
    background: brown;
    color: white;
}
#ava
{
    border-radius: 50%;
    background: transparent;
}